<h1>Editing birthday message</h1>

<%= render "form", birthday_message: @birthday_message %>

<br>

<div>
  <%= link_to "Show this birthday message", @birthday_message %> |
  <%= link_to "Back to birthday messages", birthday_messages_path %>
</div>
