 <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <video controls width=1900px height=900px>
          <source src="https://res.cloudinary.com/deausdqrl/video/upload/v1706798778/vndrwixy4tu4n6znxcm5.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>